<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h3>Info</h3>
    <div style="border:dotted; color:brown; text-align:center; font-size:38px">
        @RenderBody()
    </div>
</body>
</html>
