<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1 style="text-align:center;">Product Information</h1>
        <div style="text-align:center; font-size:30px; color:#ff0000; border:dotted 1px; background-color:darkblue">
            @RenderBody()
        </div>
        <h2>Visit <a href="http://apress.com">Apress</a></h2>
    </div>
</body>
</html>
