

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div> 
        <h3>Product Details</h3>
        <hr />
        <p>Cart total :</p>
        <h2>@ViewBag.totalCartParice</h2>
    </div>
</body>
</html>
