
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UseOfExtensionMethod</title>
</head>
<body>
    <div> 
        <p>Total CArt Price : @ViewBag.SB</p>
        <h4>mmm : @ViewBag.totalCartPriceInArray</h4>
        <h2>aaa : @ViewBag.aaa</h2>
    </div>
</body>
</html>
