@model Claculator.Library.Calculator

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Divide</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            <p>Num 1 : @Html.TextBoxFor(x => x.Num1)</p>
            <p>Num 2 : @Html.TextBoxFor(x => x.Num2)</p>
            
            @*<input type="text" name="num1" placeholder="Num 1"/>
            <input type="text" name="num2" placeholder="Num 2"/>*@
            <input type="submit" value="OK"/>
            <h3>Ans : @ViewBag.Ans</h3>
        }
    </div>
</body>
</html>
